:root {
    --colordark-grey-neutraldeactive: rgba(128, 129, 145, 1);
    --colorwhitewhite: rgba(255, 255, 255, 1);
    --divider: rgba(0, 0, 0, 0);
    --shadow: rgba(227, 230, 236, 1);
    --colorprimaryprimary: rgba(108, 93, 211, 1);
    --colorsecondarysecondary-shadessecondary-shade-1: rgba(63, 140, 255, 1);
    --colordark-grey-neutraldark: rgba(27, 29, 33, 1);
    --textlink: rgba(95, 117, 238, 1);
    --title-16-font-family: "Inter-SemiBold", Helvetica;
    --title-16-font-weight: 600;
    --title-16-font-size: 16px;
    --title-16-letter-spacing: 0px;
    --title-16-line-height: normal;
    --title-16-font-style: normal;
    --button-button-1-font-family: "Inter-Bold", Helvetica;
    --button-button-1-font-weight: 700;
    --button-button-1-font-size: 14px;
    --button-button-1-letter-spacing: 0px;
    --button-button-1-line-height: 20px;
    --button-button-1-font-style: normal;
    --menu-14-font-family: "Inter-SemiBold", Helvetica;
    --menu-14-font-weight: 600;
    --menu-14-font-size: 14px;
    --menu-14-letter-spacing: 0px;
    --menu-14-line-height: 20px;
    --menu-14-font-style: normal;
    --caption-caption-2-12-font-family: "Inter-Medium", Helvetica;
    --caption-caption-2-12-font-weight: 500;
    --caption-caption-2-12-font-size: 12px;
    --caption-caption-2-12-letter-spacing: 0px;
    --caption-caption-2-12-line-height: 16px;
    --caption-caption-2-12-font-style: normal;
    --caption-caption-1-13-font-family: "Inter-SemiBold", Helvetica;
    --caption-caption-1-13-font-weight: 600;
    --caption-caption-1-13-font-size: 13px;
    --caption-caption-1-13-letter-spacing: 0px;
    --caption-caption-1-13-line-height: 18px;
    --caption-caption-1-13-font-style: normal;
}
