* {
    margin: 0;
    padding: 0;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.menu-lateral-exp {
    width: 15vw;
    height: 100vh;
    position: fixed;
    background: linear-gradient(110deg, rgb(38, 187, 251) 0%, rgb(88, 29, 182) 50.52%, rgb(38, 187, 251) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-lateral-exp header {
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
}

.menu-lateral-exp header #btn-exp {
    display: flex;
    position: absolute;
    margin-left: 70px;
    border: 0;
    background-color: rgb(88, 29, 182);
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.menu-lateral-exp header #btn-exp img{
    transform: scaleX(-1);

}

.menu-lateral-lista1 {
    margin: 0.563rem 0 25vh 0;
}

ul li a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;

}

.divider {
    border: 0.5px solid #fff;
    opacity: 0.2;
}


#user {
    margin-top: 20px;
    width: 160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
    color: #fff;
    width: 100%;
}

.user-info span {
    font-weight: 100;
    opacity: 0.5;
}