html {
    height: 100%;
    width: 100vw;
    background-color: #E4E4E4;
}

main {

    padding: 20px;
    height: 95vh;
}

#tela-inicial {
    background-color: #fff;
    margin-left: 10rem;
    height: 100%;
    border-radius: 20px;
}

#header-tela {
    padding: 20px;
}

#header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#header-info button {
    background: linear-gradient(160deg, rgb(38, 187, 251) 0%, rgb(88, 29, 182) 50.52%, rgb(38, 187, 251) 100%);
    color: #fff;
    padding: 15px 40px;
    border-style: none;
    border-radius: 20px;
}

#main-tela-info {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    /* margin: 100px 0; */
    padding: 30px;
}